.instructions {
  padding: 30px;
  display: block;
  text-align: center;
  border: red 5px solid;
}
ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}
p {
  text-align: justify;
}
.fontInstructions {
  font-size: 20px;
}
